<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">

      <header>
          <div class="hd">
            TRAVEL APP
          </div>
      </header>

      <div class="grid-container">
          <section>
              <div class="desc">
                  <div class="mainpic">
                      <img src="globe_large.jpg" alt="globe picture" />
                  </div>
                  <div class="caption">
                      <blockquote>
                          <p><em>Where are you going?</em></p>
                      </blockquote>
                  </div>
              </div>
          </section>

          <section>
              <div class="input">
                <form onsubmit="return Client.handleSubmit(event)">
                  <fieldset class="searchDetails">
                    <legend>TRAVEL DETAILS</legend>
                    <label for="inputCity">Destination City (required)</label><br>
                    <input id="inputCity" type="text" name="city" value="" placeholder="Name of City"></input>
                    <label for="inputCountry">Destination Country (optional)</label><br>
                    <input id="inputCountry" type="text" name="country" value="" placeholder="Name of Country"></input>
                    <label for="depDate">Departure Date (max 30 days from today)</label><br>
                    <input id="depDate" type="date" name="minmaxdate" onclick="Client.minMaxDates()"></input>
                    <button type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">SUBMIT</button>
                    <div class="retry" id="inputCheck"></div>
                  </fieldset>
                </form>
              </div>
          </section>

          <section>
              <div class="place">
                  <div class="pic">
                      <a href="#"><img id="pixImage" src="https://image.freepik.com/free-photo/beautiful-extreme-closeup-shot-half-moon_181624-4157.jpg" alt="new Neptune moon" /></a>
                  </div>
                  <div class="caption">
                      <blockquote>
                          <p><em>15 Sep 20</em> : new moon spotted over Neptune.</p>
                          <p><a href="https://www.freepik.com/photos/sky">Sky photo created by kjpargeter - www.freepik.com</a></p>
                      </blockquote>
                  </div>
              </div>
          </section>

          <section>
              <div class="weather">
                   <div class = "title">Most Recent Entry</div>
                   <div id="entryHolder">
                    <div id="aaa"></div>
                    <div id="bbb"></div>
                    <div id="ccc"></div>
                    <div id="ddd"></div>
                  </div>
              </div>
          </section>
      </div>

      <footer>
          <div class="ft">
            FOOTER HERE
          </div>
      </footer>

    </div>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>
