body{
    background: #3b4a6b;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 24px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(200px,auto);
    grid-gap: 10px;
    grid-template-areas:
    "desc input"
    "place weather";
    padding: 10px;
    background-color: #333;
}

@media screen and (max-width: 768px) {
  .grid-container {
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto);
    grid-gap: 5px;
    grid-template-areas:
    "desc"
    "input"
    "place"
    "weather";
  }
}

section {
  background-color: white;
}

header footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60px;
}

.hd, .ft{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.desc {
  grid-area: desc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('globe_large.jpg');
  background-position: center;
}

.intro {
  font-size: 46px;
  color: white;
}

.input {
  grid-area: input;
  text-align: center;
}

.place {
  grid-area: place;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.weatherBox {
  grid-area: weather;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.toprow {
  height:140px;
}

.midrow, .btmrow {
  height:200px;
}

.weather {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  width:100%;
}

.picText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.mainpic, .placepic{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 460px;
  overflow: hidden;
}

/*  Basic Styling To Override Default For Basic HTML Elements */

.searchDetails {
  display: Flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

label{
    display:block;
    font-size: 24px;
}

input{
    display:block;
    text-align: center;
    height: 60px;
    width: 280px;
    background:#ddd;
    color: #000;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    border: solid black 1px;
    margin: 5px 0 20px 0;
}

.weathertitle {
  display: Flex;
  flex-direction: column;
  justify-content: center;
  color: #3b4a6b;
  font-weight: bold;
}

.weathernav button {
    width: 76px;
    height: 80px;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin: 40px 0;
}

button {
    width: 280px;
    height: 80px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin: 10px;
}

.retry {
  font-size: 18px;
  color: #E7070E;
  padding: 10px 0;
}

/* Reset style for HTML element on active to have no border */
input:hover,
button:hover {
    outline: solid black 1px;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #3b4a6b;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #3b4a6b;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #3b4a6b;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}
